<div class="header flex items-center justify-between w-full h-20 px-8 border-b border-gray-300">
    <div class="text-2xl font-semibold">
        RenAI
    </div>

    <div class="flex items-center space-x-16">
        <div *ngFor="let item of headerItems" class="text-lg font-semibold">
            <a *ngIf="item.value != 'dashboard' || isLoggedIn" [routerLink]="item?.link ?? ''">
                {{ item.label }}
            </a>
        </div>
    </div>

    <div>
        <app-app-search-bar></app-app-search-bar>
    </div>

    <div>
        <div *ngIf="isLoggedIn()" class="relative">
            <button class="standard-auth-button rounded-full" (click)="toggleUserbar()">
                <fa-icon [icon]="faUser"></fa-icon>
            </button>
            <div *ngIf="isUserbarOpen()" class="absolute right-0 top-0 pt-12">
                <app-userbar></app-userbar>
            </div>
        </div>
        <div *ngIf="!isLoggedIn()" class="flex items-center space-x-4">
            <button class="standard-auth-button rounded-xl">
                Log In
            </button>
            <button class="standard-auth-button rounded-xl">
                Sign Up
            </button>
        </div>
    </div>
</div>