.standard-write-button {
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(42, 100, 218);
    color: white;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-write-button:hover {
    background-color: rgb(35, 80, 200);
}

.standard-action-button {
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(246, 246, 246);
    color: rgb(21, 21, 21);
    border: 1px solid rgb(209 213 219);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}
    
.standard-action-button:hover {
    background-color: rgb(238, 238, 238);
}

.standard-search-button {
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(33, 33, 33);
    color: rgb(237, 237, 237);
    border: 1px solid rgb(47, 47, 47);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}
    
.standard-search-button:hover {
    background-color: rgb(14, 14, 14);
}

.standard-auth-button {
    padding: 0.5rem 1rem;
    height: 2.5rem;
    background-color: rgb(3, 41, 117);
    color: white;
    border: 1px solid rgb(10, 10, 10);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3rem;
    cursor: pointer;
}

.standard-auth-button:hover {
    background-color: rgb(3, 23, 77);
}