<div 
    class="p-4 w-64 h-full min-h-full border border-gray-300 overflow-y-auto"
>
    <div *ngIf="tree">
        <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: tree.root }"></ng-container>
    </div>

    <ng-template #treeNode let-node>
        <div class="ml-4 whitespace-nowrap">
            <div *ngIf="node.directory === true" class="flex items-center space-x-2">
                <button 
                    *ngIf="node.children.length > 0 || node.collapsed"
                    (click)="toggleExpanded(node)" 
                    class="hover:text-gray-800"
                >
                    <fa-icon [icon]="getCaretIcon(node)" class="text-sm text-gray-700"></fa-icon>
                </button>
                <fa-icon [icon]="faFolder" class="text-sm text-gray-700"></fa-icon>
                <span *ngIf="node.directory === true" class="font-semibold">
                    {{ node.name }}
                </span>
            </div>
            <div *ngIf="node.directory === false" class="flex items-center space-x-2">
                <div></div>
                <fa-icon [icon]="faFile" class="text-sm text-gray-700"></fa-icon>
                <button class="text-blue-700 hover:underline" (click)="readFile(node.name, node.path)">
                    {{ node.name }}
                </button>
            </div>
            
            <div *ngIf="node.isExpanded">
                <ng-container *ngFor="let child of node.children">
                    <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child }"></ng-container>
                </ng-container>
                <div *ngIf="node.collapsed">
                    Collapsed
                </div>
            </div>
        </div>
    </ng-template>
</div>