<div class="border-b border-gray-300 page-std-padding-x py-3">
    <table class="w-full">
        <tr class="hover:bg-gray-50">
            <td class="w-1/4"> {{ dataFormatterService.formatDate(event.timestamp) }}
            </td>

            <td class="w-1/4"> 
                <div *ngIf="event.eventType === TaskEventType.RUN_COMMAND_REQUEST" class="flex items-center space-x-2 text-blue-600">
                    <fa-icon [icon]="faTerminal" class="text-sm"></fa-icon>
                    <p>Command</p>
                </div>
                <div *ngIf="event.eventType === TaskEventType.COMMAND_RESPONSE" class="flex items-center space-x-2 text-blue-600">
                    <fa-icon [icon]="faTerminal" class="text-sm"></fa-icon>
                    <p>Command Output</p>
                </div>
            </td>

            <td class="w-1/4"> 
                <div *ngIf="event.eventType === TaskEventType.RUN_COMMAND_REQUEST">
                    {{ event.commandRequest }}
                </div>
                <div *ngIf="event.eventType === TaskEventType.COMMAND_RESPONSE">
                    {{ truncate(event.commandResponse) }}
                </div>
            </td>

            <td class="w-1/4 text-right"> 
                <button *ngIf="isExpandable()" (click)="toggleIsExpanded()" class="cursor-pointer">
                    <fa-icon [icon]="getCaretIcon()"></fa-icon>
                </button>
            </td>
        </tr>

        <tr *ngIf="isExpanded()">
            <td colspan="4" class="p-4">
                {{ event.commandResponse }}
            </td>
        </tr>
    </table>
</div>