<div class="page-std-padding-x page-std-padding-y w-full border-b border-gray-300 shadow-sm">
    <div class="text-2xl font-semibold pb-4">
        Projects
    </div>
    <div class="flex items-center justify-between w-full space-x-2">

        <div class="flex items-center space-x-2">
            <app-search-input
                (onSearch)="handleSearchTextChange($event)"
            ></app-search-input>

            <app-selector 
                [items]="searchConfig.sortOptions" 
                [defaultItemValue]="'createdAt'" 
                (selectedItemChange)="handleSortOptionChange($event)"
                class="ml-8"
            ></app-selector>

            <button class="standard-action-button" (click)="handleToggleIsAscending()">
                <fa-icon [icon]="searchParams.isAscending ? faArrowUpWideShort : faArrowDownWideShort"></fa-icon>
            </button>
        </div>

        <div class="flex items-center space-x-4">
            <a [routerLink]="'/dashboard/projects/create-project'" class="standard-write-button space-x-2">
                <fa-icon [icon]="faPlus"></fa-icon>
                <div>
                    New Project
                </div>
            </a>
        </div>
    </div>
</div>
