
<div class="flex items-center space-x-4">
    <app-developer-status [status]="developer?.developerState?.status"></app-developer-status>
    
    <button
        *ngIf="developer?.developerState?.status == DeveloperStatus.RUNNING"
        (click)="pauseDeveloper($event, developer?.id)"
        class="standard-action-button flex items-center justify-center w-10"
    >
        
        <fa-icon [icon]="faPause"></fa-icon>
    </button>
    <button
        *ngIf="developer?.developerState?.status == DeveloperStatus.PAUSED"
        (click)="resumeDeveloper($event, developer?.id)"
        class="standard-action-button flex items-center justify-center w-10"
    >
        
        <fa-icon [icon]="faPlay"></fa-icon>
    </button>
    <button
        *ngIf="developer?.developerState?.status == DeveloperStatus.RUNNING"
        (click)="stopDeveloper($event, developer?.id)"
        class="standard-action-button flex items-center justify-center w-10"
    >
        
        <fa-icon [icon]="faStop"></fa-icon>
    </button>
</div>