<div class="flex flex-col space-y-4">
    <app-section-header [title]="'A. App Specification'" [depth]="0">
        <app-text-field
            label="App Name:"
            [value]="jobSpecification?.appSpecification?.appName"
            [fieldId]="'appName'"
        ></app-text-field>
        <app-array-field
            label="Functional Specifications:"
            [items]="
                jobSpecification?.appSpecification?.functionalSpecifications ??
                []
            "
        ></app-array-field>
        <app-enum-field
            label="App Type:"
            [value]="jobSpecification?.appSpecification?.appType"
            [enumOptions]="specFormatterService.getAppTypeOptions()"
        ></app-enum-field>
        <app-section-header
            title="Backend Stack"
            [depth]="1"
            [defaultIsExpanded]="false"
        >
            <app-enum-field
                label="Architecture:"
                [value]="jobSpecification?.appSpecification?.backendStack?.architecture"
                [enumOptions]="specFormatterService.getArchitectureOptions()"
            ></app-enum-field>
            <app-section-header title="Services" [depth]="2">
                <div class="flex flex-wrap space-x-20">
                    <div
                        *ngFor="let service of jobSpecification?.appSpecification?.backendStack?.services"
                        class="flex flex-col space-y-1 pb-2"
                    >
                        <app-text-field
                            label="Name:"
                            [value]="service.name"
                        ></app-text-field>
                        <app-enum-field
                            label="Framework:"
                            [value]="service.framework"
                            [enumOptions]="specFormatterService.getBackendFrameworkOptions()"
                        ></app-enum-field>
                        <app-enum-field
                            label="Database:"
                            [value]="service.database"
                            [enumOptions]="specFormatterService.getServiceDatabaseOptions()"
                        ></app-enum-field>
                    </div>
                </div>
            </app-section-header>
        </app-section-header>
        <app-section-header
            title="Frontend Stack"
            [depth]="1"
            [defaultIsExpanded]="false"
        >
            <app-enum-field
                label="Framework:"
                [value]="jobSpecification?.appSpecification?.frontendStack?.framework"
                [enumOptions]="specFormatterService.getFrontendFrameworkOptions()"
            ></app-enum-field>
        </app-section-header>
    </app-section-header>

    <app-section-header [title]="'B. Development Specification'" [depth]="0">
        <app-section-header title="Cost Speed Specification" [depth]="1">
            <app-text-field
                label="Maximum Cost ($):"
                [value]="jobSpecification?.developmentSpecification?.costSpeedSpec?.maxCostDollars?.toString() ?? 'None'"
            ></app-text-field>
            <app-text-field
                label="Maximum Time (s):"
                [value]="jobSpecification?.developmentSpecification?.costSpeedSpec?.maxTimeSeconds?.toString() ?? 'None'"
            ></app-text-field>
        </app-section-header>

        <app-section-header
            title="Infrastructure Specification"
            [depth]="1"
            [defaultIsExpanded]="false"
        >
            <app-section-header title="Nodes" [depth]="2">
                <div
                    *ngFor="let nodeSpec of jobSpecification?.developmentSpecification?.infrastructureSpec?.nodeSpecs"
                    class="flex flex-col space-y-2"
                >
                    <app-enum-field
                        label="Compute Type:"
                        [value]="nodeSpec.computeType"
                        [enumOptions]="specFormatterService.getComputeTypeOptions()"
                    ></app-enum-field>
                    <app-enum-field
                        label="Node VM Size:"
                        [value]="nodeSpec.vmSize"
                        [enumOptions]="specFormatterService.getNodeVMSizeOptions()"
                    ></app-enum-field>
                </div>
            </app-section-header>
        </app-section-header>

        <app-section-header
            title="Developer Zoo Specification"
            [depth]="1"
            [defaultIsExpanded]="false"
        >
            <app-section-header title="Developers" [depth]="2">
                <div
                    *ngFor="let developerSpec of jobSpecification?.developmentSpecification?.developerZooSpec?.developerSpecs; let i = index"
                    class="flex flex-col space-y-1"
                >
                    <app-text-field
                        label="Developer Name:"
                        [value]="developerSpec.name"
                    ></app-text-field>
                    <app-text-field
                        label="Developer Description:"
                        [value]="developerSpec.description"
                        [fieldId]="'developerDescription'"
                        [itemIndex]="i"
                    ></app-text-field>
                    <app-array-field
                        label="Developer Subtasks:"
                        [items]="developerSpec.subtasks"
                    ></app-array-field>
                </div>
            </app-section-header>
        </app-section-header>
    </app-section-header>
</div>
