<app-project-header
    [project]="project"
    class="bg-gray-50"
></app-project-header>

<app-tab-navigation
    [navigationItems]="navigationItems"
    [selectedItemValue]="selectedTab.value"
    (itemSelected)="selectTab($event)"
    class="bg-gray-50"
></app-tab-navigation>

<div *ngIf="selectedTab.value === 'overview'">
    <app-project-overview [project]="project"></app-project-overview>
</div>

<div *ngIf="selectedTab.value === 'specification'">
    <app-project-specification [project]="project"></app-project-specification>
</div>

<div *ngIf="selectedTab.value === 'developers'">
    <app-developers [project]="project"></app-developers>
</div>